
    @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

    html * {
        font-family: 'Comic Neue' !important;
    }

    .title {
        font-weight: 700;
        font-size: 12px;
        margin: 10px;
    }

    .divMap {
        margin: 0px;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    .divGeneral {
        width: 400px;
        height: 35%;
        background-color: rgb(255, 255, 255);
        position: relative;
        border: 5px black;
        margin: 10px;
        padding: 10px;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        border-radius: 12px;
    }

    .divDirectionsCoords {
        margin: 0px 20px 0px 20px;
    }

    .divDirections {
        display: flex;
        margin: 20px 10px 10px 10px;
    }

    .divCoords {
        margin: 20px 10px 10px 10px;
    }

    .icon {
        padding: 5px;
        min-width: 20px;
    }

    .ipt_directions {
        width: 60%;
        padding: 10px;
        text-align: center;
        flex: 1;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #divCoordinates {
        margin: 10px;
    }

    .iptCoordinates {
        width: 35%;
        padding: 5px;
        text-align: center;
        flex: 1;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .search {
        background: rgba(79, 182, 159, .40) url('../icons/search.svg') 5px no-repeat;
        /* Blue background */
        border-radius: 12px;
        width: 35px;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .routeBtns {
        border-radius: 12px;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 5px;
    }

    #btnCar {
        background-color: rgba(255, 120, 120, 0.5);
    }

    #btnTruck {
        background-color: rgba(148, 180, 159, 0.5);
    }

    #btnPedestrian {
        background-color: rgba(255, 178, 166, 0.5);
    }

    #btnBicycle {
        background-color: rgba(198, 213, 126, 0.5);
    }

    #btnScooter {
        background-color: rgba(154, 220, 255, 0.5);
    }

    #btnTaxi {
        background-color: rgba(255, 248, 154, 0.5);
    }

    #btnBus {
        background-color: rgba(162, 103, 172, 0.5);
    }
